html
{
    background: #F0F0F0  repeat-y left bottom;
}
body
{
padding-top: 10px;
}
h1
{
font-family:"свт╡";
font-size:17;
font-weight:bold;
color:#136cb2; 
margin-left: auto;
margin-right: auto;
width: 168px;
}
nav
{
font-family:"свт╡";
font-size:10;
font-weight:bold;
color:#136cb2; 
margin-left: auto;
margin-right: auto;
width: 168px;
}
#display
{
height:400px;
margin:25px;
margin-left:200px;
float:left;
}
a:link {
 COLOR: #136cb2; TEXT-DECORATION: none
}
a:visited {
 COLOR: #136cb2; TEXT-DECORATION: none
}
a:hover {
 COLOR: #136cb2; TEXT-DECORATION: underline
}
footer
{
border-top: 1px solid #CCC;
clear: both;
font-family:"свт╡";
font-size:10;
font-weight:bold;
color:#136cb2;
margin-left: auto;
margin-right: auto;
width: 300px;
}
#avatar
{
border-radius:10px;
margin:25px;
margin-left:200px;
float:left;

}
#disqus_thread
{
display:none;
}
#container
{

}
	margin-left: auto;
  margin-right: auto;
  width: 168px;